body {
  position: relative;
  width: 1600px;
  height: 3018px;
  background: #ffffff;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style-type: none;
}
.invisible {
  text-indent: -9999px;
  margin: 0px;
}

.header {
  position: relative;
  width: 80%;
  height: 81px;
  left: 0px;
  top: 0px;
  background: #ffffff;
}

.header-logo {
  position: absolute;
  width: 153px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-studio {
  position: absolute;
  left: 65px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
}

.nav-menu {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.studio {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.studio:hover,
.studio:focus {
  color: #2196f3;
}

.portfolio {
  position: absolute;
  width: 77px;
  height: 16px;
  left: 552px;
  top: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}
.portfolio:hover,
.portfolio:focus {
  color: #2196f3;
}

.contact {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}

.contact:hover,
.contact:focus {
  color: #2196f3;
}

.nav-email {
  position: absolute;
  width: 161px;
  height: 16px;
  left: 1052px;
  top: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.nav-email:hover,
.nav-email:focus {
  color: #2196f3;
}

.nav-tel {
  position: absolute;
  width: 142px;
  height: 17px;
  left: 1243px;
  top: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.nav-tel:hover,
.nav-tel:focus {
  color: #2196f3;
}

.header-backgroup {
  position: relative;
  width: 1600px;
  height: 600px;
  background: url("../images/header-img.jpg");
}

.overlay {
  position: absolute;
  width: 100%;
  height: 600px;
  background: rgba(47, 48, 58, 0.8);
}

.content-text {
  position: absolute;
  width: 646px;
  height: 104px;
  left: 477px;
  top: 200px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.content-button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 350px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.content-button-text {
  position: absolute;
  width: 137px;
  height: 30px;
  left: 32px;
  top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.features {
  position: absolute;
  width: 1170px;
  height: 251px;
  left: 215px;
  top: 774px;
  margin: 0px;
  padding: 0px;
}

.link {
  position: absolute;
  left: 100px;
  top: 25px;
  display: flex;
  justify-content: center;
}

.antena {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 270px;
  height: 251px;
}

.antena-li {
  position: absolute;
  left: 0px;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.antena-li:hover,
.antena-li:focus {
  background: #2196f3;
  border-radius: 4px;
}

.detal {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 0px;
  top: 150px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin: 0px;
}

.detal-p {
  position: absolute;
  left: 0px;
  width: 270px;
  height: 75px;
  top: 176px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px;
}

.clock {
  position: absolute;
  width: 270px;
  height: 251px;
  left: 300px;
}

.clock-li {
  position: absolute;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.clock-li:hover,
.clock-li:focus {
  background: #2196f3;
  border-radius: 4px;
}

.punctuality {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 300px;
  top: 150px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin: 0px;
}

.punctuality-p {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 300px;
  top: 176px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px;
}

.diagram {
  position: absolute;
  width: 270px;
  height: 251px;
  left: 600px;
}

.diagram-li {
  position: absolute;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.diagram-li:hover,
.diagram-li:focus {
  background: #2196f3;
  border-radius: 4px;
}

.plan {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 600px;
  top: 150px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin: 0px;
}

.plan-p {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 600px;
  top: 176px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px;
}

.astro {
  position: absolute;
  width: 270px;
  height: 251px;
  left: 900px;
}

.astro-li {
  position: absolute;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.astro-li:hover,
.astro-li:focus {
  background: #2196f3;
  border-radius: 4px;
}

.tehno {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 900px;
  top: 150px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin: 0px;
}

.tehno-p {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 900px;
  top: 176px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px;
}

.worck {
  position: absolute;
  width: 1170px;
  height: 386px;
  left: 283px;
  top: 1169px;
}

.worck > h2 {
  position: absolute;
  width: 377px;
  height: 42px;
  left: 397px;
  top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0px;
}
.worck > ul {
  margin: 0px;
}

.worck1 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 0px;
  top: 92px;
}

.worck1 > span {
  position: absolute;
  width: 205px;
  height: 16px;
  left: 83px;
  top: 251px;
  padding-top: 27px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.worck2 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 400px;
  top: 92px;
}

.worck2 > span {
  position: absolute;
  width: 370px;
  height: 70px;
  left: 683px;
  top: 251px;
  padding-top: 27px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.worck3 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 800px;
  top: 92px;
}

.worck3 > span {
  position: absolute;
  width: 370px;
  height: 70px;
  left: 1083px;
  top: 251px;
  padding-top: 27px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.worck span {
  position: absolute;
  width: 370px;
  height: 43px;
  left: 0px;
  top: 224px;
  background: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
}
.comand {
  position: absolute;
  width: 1600px;
  height: 702px;
  left: 0px;
  top: 1693px;
  background: #f5f4fa;
}
.comand > h2 {
  position: absolute;
  width: 265px;
  height: 42px;
  left: 668px;
  top: 94px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0px;
}
.comand > ul {
  position: absolute;
  width: 1170px;
  height: 422px;
  left: 215px;
  top: 144px;
  margin: 0px;
}
.john {
  position: absolute;
  width: 270px;
  height: 422px;
  left: 0px;
  top: 50px;
  margin: 0px;
}
.john > h3 {
  position: absolute;
  width: 87px;
  height: 19px;
  left: 92px;
  top: 290px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0px;
}
.john > p {
  margin: 0px;
  position: absolute;
  width: 131px;
  height: 19px;
  left: 70px;
  top: 319px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #757575;
}
.john > ul {
  position: absolute;
  width: 207px;
  height: 44px;
  left: 32px;
  top: 354px;
}
.marta {
  position: absolute;
  width: 270px;
  height: 422px;
  left: 300px;
  top: 50px;
  margin: 0px;
}
.marta > h3 {
  position: absolute;
  width: 109px;
  height: 19px;
  left: 81px;
  top: 290px;
  margin: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  /* text-align: center; */
  letter-spacing: 0.03em;

  color: #212121;
}
.marta > p {
  margin: 0px;
  position: absolute;
  width: 147px;
  height: 19px;
  left: 62px;
  top: 319px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: #757575;
}
.marta > ul {
  position: absolute;
  width: 207px;
  height: 44px;
  left: 32px;
  top: 354px;
}
.robert {
  position: absolute;
  width: 270px;
  height: 422px;
  left: 600px;
  top: 50px;
}
.robert > h3 {
  position: absolute;
  width: 97px;
  height: 19px;
  left: 87px;
  top: 290px;
  margin: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}
.robert > p {
  margin: 0px;
  position: absolute;
  width: 76px;
  height: 19px;
  left: 97px;
  top: 319px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}
.robert > ul {
  position: absolute;
  width: 207px;
  height: 44px;
  left: 32px;
  top: 354px;
}
.martin {
  position: absolute;
  width: 270px;
  height: 422px;
  left: 900px;
  top: 50px;
}
.martin > h3 {
  position: absolute;
  width: 84px;
  height: 19px;
  left: 93px;
  top: 290px;
  margin: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #212121;
}
.martin > p {
  margin: 0px;
  position: absolute;
  width: 87px;
  height: 19px;
  left: 92px;
  top: 319px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}
.martin > ul {
  position: absolute;
  width: 207px;
  height: 44px;
  left: 32px;
  top: 354px;
}
.client {
  position: absolute;
  width: 1170px;
  height: 182px;
  left: 215px;
  top: 2489px;
}
.client > h2 {
  position: absolute;
  width: 391px;
  height: 42px;
  left: 391px;
  top: 0px;
  margin: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.client > ul {
  margin: 0px;
}
.client1 {
  position: absolute;
  width: 170px;
  height: 90px;
  left: 0px;
  top: 92px;
}
.client2 {
  position: absolute;
  width: 170px;
  height: 90px;
  left: 200px;
  top: 92px;
}
.client3 {
  position: absolute;
  width: 170px;
  height: 90px;
  left: 400px;
  top: 92px;
}
.client4 {
  position: absolute;
  width: 170px;
  height: 90px;
  left: 600px;
  top: 92px;
}
.client5 {
  position: absolute;
  width: 170px;
  height: 90px;
  left: 800px;
  top: 92px;
}
.client6 {
  position: absolute;
  width: 170px;
  height: 90px;
  left: 1000px;
  top: 92px;
}
footer {
  position: absolute;
  width: 1600px;
  height: 253px;
  left: 1px;
  top: 2765px;
  background-color: #2f303a;
}
.footer-logo {
  position: absolute;
  width: 130px;
  height: 26px;
  left: 215px;
  top: 48px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;

  /* identical to box height */
  letter-spacing: 0.03em;

  color: #2196f3;
}
.footer-logo > span {
  color: #ffffff;
}
#address {
  position: absolute;
  width: 232px;
  height: 81px;
  left: 215px;
  top: 84px;
}
.street {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 0px;
  top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
#address > ul {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.mail-footer {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 0px;
  top: 30px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.tel-footer {
  position: absolute;
  width: 231px;
  height: 21px;
  left: 0px;
  top: 60px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.social {
  position: absolute;
  width: 206px;
  height: 81px;
  left: 514px;
  top: 56px;
}
.social > h3 {
  position: absolute;
  width: 145px;
  height: 16px;
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.social > ul {
  margin: 0px;
  padding: 0px;
  position: absolute;
  width: 206px;
  height: 44px;
  left: 0px;
  top: 37px;
}
.input {
  position: absolute;
  width: 570px;
  height: 87px;
  left: 814px;
  top: 56px;
  width: 219px;
  height: 16px;
  margin: 0px;
  padding: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.developed {
  position: absolute;
  width: 310px;
  height: 21px;
  left: 646px;
  top: 211px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  /* or 200% */

  text-align: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.4);
}
